{% extends 'main/base.html' %}

{% load static %}

{% block page %}
<div data-url="{% url 'account_manage' %}" class="page" data-role="page" data-theme="b" data-title="Account | Risk Managed">

  {% include "main/header.html" %}

  <div role="main" class="ui-content">
    <h1>Account</h1>
    <div class="tight">
      <ul data-role="listview" data-inset="true">

        <li data-role="list-divider" data-theme="b">Email</li>
        <li><h2>{{user.email}}</h2></li>

        {% if user.administrator %}
        <li data-role="list-divider" data-theme="b">University</li>
        <li><h2>{{user.administrator.university.name}}</h2><p>{{user.administrator.university.acronym}}</p></li>
        {% endif %}

        {% if user.host %}
        <li data-role="list-divider" data-theme="b">Organization</li>
        <li><h2>{{user.host.organization.name}}</h2></li>

        <li data-role="list-divider" data-theme="b">University</li>
        <li><h2>{{user.host.university.name}}</h2><p>{{user.host.university.acronym}}</p></li>
        {% endif %}

      </ul>

      <ul data-role="listview" data-inset="true">
        <li>
          <a href="{% url 'account_email_change' %}" data-transition="slidedown"><h2>Change Email</h2></a>
        </li>
        <li>
          <a href="{% url 'password_change' %}" data-transition="slidedown"><h2>Change Password</h2></a>
        </li>
      </ul>

    </div>
  </div>

  {% include "main/footer.html" %}

</div>
{% endblock %}
