{% extends 'base.html' %}

{% load static %}

{% block page %}
<div data-url="{% url 'events_detail' event.pk %}" class="page" data-dom-cache="true" data-role="page" data-theme="b" data-title="{{event.name}} | Risk Managed">

  {% include "header.html" %}

  <div role="main" class="ui-content">
    <h1>{{event.name}}</h1>
    <div class="tight">

      <div data-role="collapsible" data-theme="b" data-content-theme="b">
        <h2>Event Info & Controls</h2>
        <ul data-role="listview">
          <li data-role="list-divider" data-theme="b">Location</li>
          <li>
            <h2>{{event.event_location}}</h2>
            {% if event.event_location == 'Off Campus' %}
            <p>{{event.event_location_other}}</p>
            {% endif %}
          </li>
          <li data-role="list-divider" data-theme="b">Date and Time</li>
          <li>
            <h2>{{event.date_of_event}}</h2>
            <p>{{event.time_of_event}}</p>
          </li>
          <li data-role="list-divider" data-theme="b">Event Planner</li>
          <li>
            <h2>{{event.name_of_planner}}</h2>
            <p>{{event.phone_number_of_planner}}</p>
            <p>{{event.email_of_planner}}</p>
          </li>
          <li data-role="list-divider" data-theme="b">Expected Number of Guests</li>
          <li>
            <h2>{{event.expected_number_guests}}</h2>
          </li>
          <li data-role="list-divider" data-theme="b">Affiliated Council</li>
          <li>
            <h2>{{event.affiliated_council}}</h2>
          </li>
          <li data-role="list-divider" data-theme="b">Type of Event</li>
          <li>
            <h2>{{event.type_of_event}}</h2>
            {% if event.type_of_event == 'Other' %}
            <p>{{event.type_event_other}}</p>
            {% endif %}
          </li>
          <li data-role="list-divider" data-theme="b">Event Description</li>
          <li>
            <pre>{{event.event_description}}</pre>
          </li>
          <li data-role="list-divider" data-theme="b">Invitation Type</li>
          <li>
            <h2>{{event.invitation_type}}</h2>
          </li>
          {% if event.transportation %}
          <li data-role="list-divider" data-theme="b">Transportation</li>
          <li>
            <pre>{{event.transportation}}</pre>
          </li>   
          {% endif %} 
          <li data-role="list-divider" data-theme="b">One Entry Point</li>
          <li>
            <h2>{{event.one_entry_point}}</h2>
            <p>{{event.entry_point_location}}</p>
          </li> 
          {% if event.co_sponsored_description %}
          <li data-role="list-divider" data-theme="b">One Entry Point</li>
          <li>
            <pre>{{event.co_sponsored_description}}</pre>
          </li> 
          {% endif %}
          {% if event.alcohol_distribution %}
          <li data-role="list-divider" data-theme="b">Alcohol Distribution</li>
          <li>
            <pre>{{event.alcohol_distribution}}</pre>
          </li> 
          {% endif %}
          <li data-role="list-divider" data-theme="b">Sober Monitors</li>
          <li>
            <pre>{{event.sober_monitors|linebreaks}}</pre>
          </li> 
          <li data-role="list-divider" data-theme="b">President's Email</li>
          <li>
            <h2>{{event.presidents_email}}</h2>
          </li> 
        </ul>
      </div>
    
      {% if user.host %}
      <a href="{% url 'events_checkin' event.pk %}" data-transition="slidedown" class="ui-btn ui-corner-all">Checkin Guest</a>
      {% endif %}

      {% if guestimages %}
      <ul data-role="listview" data-inset="true">
        <li data-role="list-divider" data-theme="b">Registered Guests<span class="ui-li-count">{{guestimages|length}}</li>
        {% for guestimage in guestimages %}
        <li>
          <a href="{% url 'guests_detail' guestimage.guest.pk %}" data-transition="flow">
            <img src="{{guestimage.image.url}}" />
            <h2>{{guestimage.guest.first_name}} {{guestimage.guest.last_name}}</h2>
            <p>{{guestimage.guest.gender}} born on {{guestimage.guest.date_of_birth}}</p>
          </a>
        </li>
        {% endfor%}
      </ul>
      {% endif %}

    </div>
  </div>

  {% include "footer.html" %}

</div>
{% endblock %}
