{% extends 'main/base.html' %}

{% block page %}
<div id="logout" data-url="{% url 'logout' %}" data-role="page" data-theme="b" data-close-btn="none" data-overlay-theme="b" data-dialog="true" data-title="Logout | Risk Managed">
  <div data-role="header" data-position="fixed">
    <h1>Logged Out</h1>
  </div>
  <div role="main" class="ui-content">
    <a href="{% url 'login' %}" class="ui-btn" data-transition="slidedown">Login Again</a>
    <a href="{% url 'home' %}" class="ui-btn" data-transition="slidedown">Home</a>
  </div>
</div>
{% endblock %}
