{% extends 'base.html' %}

{% block page %}
<div id="password-changed" data-url="{% url 'password_change_done' %}" data-role="page" data-theme="b" data-close-btn="none" data-overlay-theme="b" data-dialog="true" data-title="Password Changed | Risk Managed">
  <div data-role="header" data-position="fixed">
    <h1>Password Changed</h1>
  </div>
  <div role="main" class="ui-content">
    <p>Your password was successfully changed!</p>
    <a href="{% url 'manage_account' %}" class="ui-btn" data-transition="slidedown">Manage Account</a>
    <a href="{% url 'dashboard' %}" class="ui-btn" data-transition="slidedown">Dashboard</a>
  </div>
</div>
{% endblock %}
