{% extends 'base.html' %}

{% load static %}

{% block page %}
<div data-url="{% url 'dashboard' %}" class="page" data-role="page" data-url="{% url 'dashboard' %}" data-theme="b" data-title="Dashboard | Risk Managed">

    {% include "header.html" %}

    <div role="main" class="ui-content">

        {% if user.host %}
        <h1>{{user.host.organization.name}}</h1>
        <div class="tight">
          <h2 class="center">{{user.host.university.name}}</h2>
          <a href="{% url 'events_list' %}" data-transition="flow" class="ui-btn ui-corner-all">Events</a>
          <a href="{% url 'guests_list' %}" data-transition="flow" class="ui-btn ui-corner-all">Guests</a>
          <a href="{% url 'account_manage' %}" data-transition="flow" class="ui-btn ui-corner-all">Account</a>
        </div>
        {% endif %}

        {% if user.administrator %}
        <h1>Administrator</h1>
        <div class="tight">
          <h2 class="center">{{user.administrator.university.name}}</h2>
          {% if hosts %}
          <ul data-role="listview" data-filter="true" data-filter-placeholder="Search your organizations..." data-inset="true">
            <li data-role="list-divider" data-theme="b">Organizations<span class="ui-li-count">{{hosts | length}}</li>
            {% for host in hosts %}
            <li><a href="{% url 'hosts_events_list' host.pk %}" data-transition="flow">{{host.organization}}</a></li>
            {% endfor %}
          </ul>
          <a href="{% url 'guests_list' %}" data-transition="flow" class="ui-btn ui-corner-all">Guests</a>
          <a href="{% url 'flags_list' %}" data-transition="flow" class="ui-btn ui-corner-all">Flags</a>
          {% endif %}
          <a href="{% url 'account_manage' %}" data-transition="flow" class="ui-btn ui-corner-all">Account</a>
        </div>
        {% endif %}

    </div>

    {% include "footer.html" %}

</div>
{% endblock %}
