{% extends 'base.html' %}

{% load static %}

{% block page %}
<div id="home" class="page" data-role="page" data-theme="b" data-title="Home | Risk Managed">

  {% include "header.html" %}

  <div role="main" class="ui-content">

    <div class="home">
      <h1>Risk Managed</h1>
      <p class="center" style="max-width: 800px; margin-left: auto; margin-right: auto;">Greek organizations promote excellence among it’s members. Those who choose to join these organizations see benefits that impact their entire lives. Social events are a large part of Greek life, and are the cornerstone of the bonds that will last a lifetime. Many organizations have been harmed by circumstances that have until now been out of their control. Risk Managed allows organizations to establish authority and control.</p>

      <div class="ui-grid-b center ui-responsive">
        <div class="ui-block-a">
          <img src="{% static "images/white-flag.png" %}" width=150 height=150>
          <h2 class="features">Flagging<br>System</h2>
          <p>Our guest list and flagging system allows you to know exactly who is at your event. Any guest who behaves inappropriately can be flagged. The system will alert the user if an attempt to register a flagged guest has been made. At this point the user can choose to grant the guest access based on the infraction and severity.</p>
        </div>
        <div class="ui-block-b">
          <img src="{% static "images/white-guest.png" %}" width=150 height=150>
          <h2 class="features">Guest<br>Tracking</h2>
          <p>Our check-in procedure is much more elaborate than just taking a name; it is packed with features that will keep your organization safe. Guests are categorized by date of birth and will automatically alert you if they are under legal drinking age. The system will also track the exact time a guest entered your event. A picture is taken for visual record and a search function allows easy navigation through your guest list.</p>
        </div>
        <div class="ui-block-c">
          <img src="{% static "images/white-check.png" %}" width=150 height=150>
          <h2 class="features">Security<br>Procedures</h2>
          <p>Risk Managers are given security alerts every half hour with specific security procedures to follow.  This includes interior and exterior sweeps. After a task has been completed it is logged into the system. Completed procedures are date and time stamped.</p>
        </div>
      </div>

      <a href="{% url 'register_host' %}" data-transition="slidedown" class="ui-btn ui-corner-all">Register as a Host</a>
    </div>

    <div data-theme="a" class="ui-body-a admin">
      <h1 class="center">Admin Accounts</h1>
      <p class="center" style="max-width: 800px; margin-left: auto; margin-right: auto;">Administrative accounts are set up to manage all participating Fraternities and Sororities. These accounts are ideal for Greek Coordinators and gives them access to all event information.</p>
      <div class="ui-grid-a center ui-responsive">
        <div class="ui-block-a">
          <img src="{% static "images/blue-flag.png" %}" width=123 height=150>
          <h2 class="features">Manage Flags</h2>
          <p>Guests can be flagged by organizations for any behavior that is deemed unacceptable. Administrators have the ability to see all flags placed on guests within their network, as well as flag severity. When a host creates a flag, it is only viewable to that host. However, if you elevate the flag to an administrator flag, it will be shared by all of the hosts in your network. This allows all organizations to be alerted.</p>
        </div>
        <div class="ui-block-b">
          <img src="{% static "images/blue-event.png" %}" width=123 height=150>
          <h2 class="features">Manage Events</h2>
          <p>As an administrator, you will be able to view all events, as well as receive email notifications when an event is created. You can also view event timelines, attendence records and security procedures. All in real-time.</p>
        </div>
      </div>
      <a href="{% url 'register_administrator' %}" data-role="button" data-transition="slidedown" class="ui-btn ui-corner-all">Register as an Administrator</a>
    </div>

    <div class="story">
      <h1>Story</h1>
      <p class="center">We are Josh and Brennan, and together we brought the idea of Risk Managed to life. Risk Managed was born in a time of adversity for us and our organization. An innocent summer night of fun turned into one of the worst nights our fraternity had ever seen, and the two of us were caught right in the middle. We were blindsided and distraught when our fraternity ended up under the scrutiny of the school and peers, especially under our watch as social chair and risk manager. And so Risk Managed was born, so that we can protect you, your organization, and your reputation from the same or similar adversity.</p>
      <div class="ui-grid-a center ui-responsive">
        <div class="ui-block-a">
          <img src="{% static "images/josh.png" %}" width=150 height=150>
          <h2 class="features">Josh Eppinette</h2>
          <p>Computer Science Major</p>
        </div>
        <div class="ui-block-b">
          <img src="{% static "images/brennan.png" %}" width=150 height=150>
          <h2 class="features">Brennan Fulton</h2>
          <p>Accounting Major</p>
        </div>
      </div>
      <p class="center">Months of endless brainstorming and late nights brought us to the system we provide for you today, an efficient, smart, safe and systematic security suite for your events. The safety techniques implemented in our application will protect your organization from dangers you may not know existed. A flagging system will alert you of serious offenses someone attending your event has committed that you may be unknown to you. Real-time updates will let you know exactly who is at your party and when they got there. Completed security procedures will be viewable by your Greek Coordinator for their ease of mind. Overall, a copasetic party environment will be created.</p>
    </div>

  {% include "footer.html" %}

</div>
{% endblock %}
